<h1 class="title">Mobile App</h1>

<p class="clock">{{time.clock}}</p>

<nav class="main-nav">
  {{#link-to "messaging"}}
    Your Messages
  {{/link-to}}
</nav>

<div class="main-content">
  {{outlet}}
</div>
